/* تنسيق الصور */
img {
    padding: 5px; /* إضافة حشوة داخل الصورة بمقدار 5 بكسل */
    margin: 5px; /* إضافة مسافة حول الصورة بمقدار 5 بكسل */
    height: auto; /* تعيين الارتفاع تلقائيًا للحفاظ على نسبة العرض إلى الارتفاع */
    border-radius: 20px; /* إضافة حواف دائرية للصورة بمقدار 20 بكسل */
    display: inline-block; /* عرض الصورة ككتلة مدمجة تتيح التنسيق بجانب عناصر أخرى */
    max-width: 100%; /* تعيين أقصى عرض للصورة ليكون 100% من العرض المتاح للحاوية */
    max-height: 300px; /* تعيين أقصى ارتفاع للصورة ليكون 300 بكسل */
}

/* تنسيق صفوف الصور */
.row {
    display: flex; /* استخدام Flexbox لتخطيط العناصر داخل الصف */
    flex-wrap: wrap; /* تفعيل التفاف العناصر ليلائم الحاوية */
    gap: 10px; /* إضافة مسافة بين العناصر */
}

/* تأثير التمرير على الصورة */
img:hover {
    transform: scale(1.1); /* تكبير الصورة بنسبة 110% عند التمرير فوقها (أقل من التكبير السابق لجعل التأثير أقل مبالغة) */
    border-radius: 30px; /* زيادة حواف الصورة لتصبح دائرية بشكل أكبر عند التمرير */
    transition: all 0.3s ease-in-out; /* إضافة تأثيرات انتقالية لجميع الخصائص مع مدة قدرها 0.3 ثواني */
}
/* تأثير التلاشي */
@keyframes bgfade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* تحسين العرض التكيفي */
@media (max-width: 768px) {
    .container a {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .container a {
        flex: 1 1 100%;
    }
}